.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.inner-container {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
}

.subtitle {
  margin: 2rem 0rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.paragraph {
  font-size: 1.7rem;
  text-align: center;
  margin: 1.5rem 0rem;
}

.button {
  align-self: center;
  width: 125px;
  text-align: center;
  font-size: 2rem;
  margin-left: 50px;
  text-decoration: none;
  color: black;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
