html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-login {
    background-image: url("{{ url_for('static', filename='login2.jpg') }}");
}


