html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.nav-container {
  /* Here it will go the background for the nav */
  background: #f7f7f7;
  font-family: Helvetica, serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav-links li {
  list-style: none;
}

.nav-links .subscribe {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.nav-links-regular {
  color: black;
  font-family: "Open Sans", sans-serif;
}
#logo {
  font-size: 3.5rem;
  /* This is the way to add a gradient to a text */
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.subscribe {
  font-family: "Open Sans", sans-serif;
}
