{% extends "template.html" %} 
{% block title %} Hashtag Project {% endblock %}
{% block style %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>

{% endblock %} {% block body %} {% if session.username %} Hello
{{session.username }} {% endif %}
<div class="container">
  <h1 class="title">Welcome to Hashtag Project!</h1>
  <p class="paragraph">
    We introduce you to this amazing project in order to get your hashtag
    recommendations
  </p>
  <div class="inner-container">
    <div class="option">
      <h4 class="subtitle">Do you want to Log in?</h4>
      <a class="button" href="{{ url_for('login') }}">Log In</a>
    </div>
    <div class="option">
      <h4 class="subtitle">Do you want to Register?</h4>
      <a class="button" href="{{ url_for('register') }}">Register</a>
    </div>
  </div>
</div>
{% endblock %}
