{% extends "template.html" %} {% block title %} Log in {% endblock %} {% block
body %}
<form action="{{ url_for('loggedin') }}" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="">

    <p style="font-size: 30px; width: 100%">
      {{ form.username.label }}<br />
      {{ form.username(size=32) }}
    </p>
    <p>
      {{ form.password.label }}<br />
      {{ form.password(size=32) }}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %} 
  </div>
{% endblock %}
